@font-face {
  font-family: Quicksand;
  src: url(fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Racing_Sans_One;
  src: url(fonts/Racing_Sans_One/RacingSansOne-Regular.ttf);
}
html{
  width: 100%;
  height: 100%;
}
main{
  width: 100%;
  height: 100%;
}
li{
  cursor: pointer;
}
.onhover{
  cursor: pointer;
}

/* latin-ext */
@font-face {
  font-family: 'Quintessential';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quintessential/v10/fdNn9sOGq31Yjnh3qWU14Ddtjb55QbgWAw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Quintessential';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quintessential/v10/fdNn9sOGq31Yjnh3qWU14Ddtjb53Qbg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}




body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   font-size: 14px;

}
header{
  width:100%;
  height:85px;
  background-color: #F7A37E;
}
#root{
  width: 100%;
  height: 100%;
}

.navbar{
  margin: 0px 0px;
  padding: 0px 0px;
  display: flex;
  width:100%;
  height: 100px;
}
.navbar img{
  width: 108px;
}
.logoandbrand{
  position: relative;
  width: 15%;
  display: inline-block;
  margin-right: 20px;
}

.logoandbrand,.logoandbrand:hover{
  color: black;
}

.logoandbrand img{
  float: left;
}
.logoandbrand p{
  font-family: Racing_Sans_One;
  display: inline-block;
  width: 20px;
  height: 100%;
  margin-bottom: 0px;
  width: 20px;
  font-size: 15px;
  font-weight: 120px;
  margin-top: 10px;
}

.FlexNavbar{
  background-color: blue;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: nowrap;

}

.SearchBar{
  background-color: #A6AAB5;
  width:70%;
  height:40px;
  border-radius: 100px;
  margin:auto;
  margin-top: 21.5px;
}
.SearchBar a{
  height: 100%;
  float:right;
  margin-right: 10px;
}
.SearchBar img{
  height: 100%;
  float:right;
}
.flexnavbar .blocks{
  width:33.3%;
  height: 100%;
}
.flexnavbar{
  margin: 0px 0px;
  padding: 0px 0px;
  display: flex;
  width:100%;
  height: 100%;
}
.flexnavbar .flexlogoandbrand img{
  width: 108px;
}
.flexlogoandbrand{
  position: relative;
  width: 15%;
  display: inline-block;
  margin-right: 20px;
}
.flexlogoandbrand,.flexlogoandbrand:hover{
  color: black;
}
.flexlogoandbrand {
  position: relative;
  width: 100%;
  display: inline-block;
  margin-right: 20px;
}
.flexlogoandbrand p{
  font-family: Racing_Sans_One;
  display: inline-block;
  width: 20px;
  height: 100%;
  margin-bottom: 0px;
  width: 20px;
  font-size: 15px;
  font-weight: 120px;
  margin-top: 10px;
}
.flexlogoandbrand img{
  float: left;
}

.my-navbar .btn{
  background-color: #6C7AD4 !important; 
  height: 30px;
  width: 80px;
}
.QuitButton{
  background-color:white;
  border-radius: 100px;
  width: 80px;
  height: 40%;
  text-align: center;
  margin-right:20px;
  margin-top: 0px;
  float: right;
  
}
.QuitButton a{
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  
}
.QuitButton p{
  font-size: 13px;
  color:#367BF5;
  width: 100%;
  line-height: 100%;
  margin: revert;

}

.MyTable{
  display: block;
  width:65%;
  margin: 0 auto;
  position: relative;
}
.MyTable tbody{
  font-family: Roboto;
}
.MyTable caption{
  font-weight: 600;
  font-size: larger;
  display: inline-block;
  color: black;
  width: 100%;
  height: auto;
  font-family: Quicksand;
}
.alignright{
  text-align: right;
}

.alignleft{
  text-align: left;
}


.Content .btn.btn-primary{
  float: left;
  margin-top: 30px;
  margin-left: 30px;
}
.btn.btn-secondary{
  font-family: Quicksand;
  font-weight:600;
  float: right;
  width: 122px;
  height: 44px;
  background-color: #F7A37E;
  border-radius: 10px;
  border-color:#F7A37E;
  color:black;

}

.empty-storage{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
}



/*Branches*/
.branches-container h1{
  font-size: 36px;
  font-weight: 700;
}
.navbar2{
  height: 70px;
  background-color: #F7A37E;
}

.icon{
  width: 15px;
  height: 15px;
}
.table{
  text-align: center;
  font-size: 12px;
}
th{
  color: #919699;
  font-weight: 500;
}
.branch-header{
  text-align: left;
}
.col1{
  text-align: left;
}
.branch-name{
  font-weight: 700;
  font-size: 16px;
  color: #000;
}
.action{
  font-size: 9px;
}
.mytable{
  margin-left: 50px;
  margin-top: 40px;
}
.adding{
  margin-left: 50px;
  margin-top: 40px
  
  
}
.btn-light{
  color: #2196F3;
  background-color: #FFF;
  border-radius: 100px;
  padding: 10px;
  margin-left: 15px;
  border: 1px solid #2196F3;
}
.back{
  margin-left: 65px;
  
}
.col-2{
  margin-right: 0px;
}
/*Add Branch*/
.form-popup {
  margin-top: 10px;
  border: 3px solid #f1f1f1;
  border-radius: 15px;
}
.form-container{
  padding: 10px;
}
.form-popup .btn{
  margin: 2px;
}

/*mynavbar*/

.mynavbar img.logo {
  width: 100px;

}
.mynavbar {
  background: #839794;

}
.mynavbar ul {
  display: inline-flex;
  list-style: none;
  float:right;
  

}

.mynavbar ul li {
  width: 100px;
  margin-top: 15px;
  
}
.mynavbar ul li a {
  text-decoration: none;
  color: #fff;
}



/*fatma ekleme */
.home {
  background-color: #ca8cd3;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 150vh;
  margin: 0px;
  padding: 0px;
}


.home img.welcome {
  width: 480px;
  float: left;
  margin-right: 150px;
  margin-top: 40px;
  margin-left: 40px;
}

.home p {
  font-family: "Quintessential", cursive;
  color: #fff;
}
.home .storeName {
  font-size: 45px;
  margin-top: 100px;
  padding-left: 900px;
}
.home .storeName2 {
  font-size: 45px;
  padding-left: 900px;
}
.home .slogan1 {
  font-size: 30px;
  margin-top: 70px;
}

.home .slogan2 {
  font-size: 30px;
  margin-top: 30px;
  padding-left: 800px;
}

/* fatma login ekleme */
.loginp {
  padding: 0;
  margin: 0;
  background-color: #ca8cd3;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 150vh;
}


.loginp img.loginimg {
  width: 450px;
  float: left;
  margin-right: 150px;
  margin-top: 85px;
  margin-left: 80px;
}

.loginp .loginForm {
  background-color: blueviolet;
  position: absolute;
  top: 22%;
  left: 55%;
  border-radius: 10px;
  width: 450px;
  height:450px;
}

.loginp .loginForm input {
  display: block;

  border: none;
  text-align: center;
}
.loginp .doldurma {
  margin: 20px 0px 20px 50px;
  border-radius: 10px;
  width: 80%;
  height: 40px;
}

.loginp .loginbuton {
  margin-top: 0px;
  margin-bottom: 40px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 130px;
  width: 50%;
  color: #000;
  font-size: 16px;
  height: 70px;
}

.loginp .loginyazi {
  margin-top: 50px;
  margin-left: 50px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.loginp .ustbar ul li .loginblack {
  color: #000;
  font-weight: bold;
}


/*durdane css */

.aboutus{
  background-color:#c4c4c4;
  margin:0;
  padding:0;
  width:100vw;
  height: 150vh;
}
.aboutus header{
  width: 100%;
  height: 80px;
}
.aboutus a{
  text-decoration:none;
  color:#fff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.aboutus .text-center{
  text-align: left;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  background:#839794;
}
.aboutus .bg-dark-blue{
  background: #839794;
  
}

.aboutus #navbar{
  color:#fff;
  display:flex;
  justify-content:space-between;
  align-items:center ;
 height: 63px;
}
.aboutus #navbar ul{
  font-family:Georgia, 'Times New Roman', Times, serif;
  list-style-type: none;
  display: flex;
  align-items:center;
   margin-right: 20px;
}
.aboutus #navbar ul li a{
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding:1rem;
}

.aboutus #navbar ul li a:hover{
  background: #B8CEF5;
border-radius: 4px;
}
h2 a:hover{
background:#B8CEF5 ;
border-radius: 4px;

}

.aboutus .resim1 p{
padding:30px;
 font-size: 18px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.aboutus .resim1 img {
  height:200px;
  padding:5px;
  margin:5px; 
  float:right;
}
.aboutus .resim2 img {
  width: 400px;
  height:auto;
  padding:20px;
  margin-left:0; 
  float:left;
}
.aboutus .resim2 p{
  padding: 130px;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.aboutus .logo{
  float:left;
  background-color:#839794;
  height:60px;
  
}
.aboutus #aboutus{
  color:black;
}

/* dürdane */



.contact{
  background-color:#c4c4c4;
  margin:0;
  padding:0;
  width:100vw;
  height: 150vh;
  box-sizing:border-box;
}
.mynavbar header{
  background-color: #839794;
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
}
.mynavbar .right-header {
  display:flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
.mynavbar .right-header a{
  color:white;
}
.mynavbar.right-header .headerbuttons{
  width:120px;
  text-align: center;
  line-height: 100%;
  font-weight: 400;
}
.mynavbar .right-header .headerbuttons a{
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
}
.black{
  color: black;
}
.mynavbar .right-header .headerbuttons p{
  margin:0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  line-height: 90px;
  text-align: center;
}

.mynavbar header img{
  height: 100%;
  width: auto;
}
.mynavbar header .right-header{
  float:right
}

.mynavbar .logo{
  float:left;
}
.contact .sidenav{
  width: 180px;
  height: 100%;
  background-color: white;

}
.contact .content{
  display: inline-block;
  height:calc(100% - 85px);
  width:100%;
}
.contact .content .sidenav{
  float:left;
}
.contact .content .right-content{
  display: inline-block;
  width: calc(100% - 180px);
  height: 100%;
}
.contact .informations{
  display: block;
  float:left;
  width:40%;
  height: 100%;
}
.contact .informations h5{
  margin-left: 50px;
  margin-top:50px;
  height:130px;
}
.contact .imageandsocial{
  float: right;
  height: 100%;
  width: calc(60% - 85px);
  display: block;
  padding-top: 30px;
  padding-right: 30px;

}
.contact .imageandsocial #contactus{
  width: 100%;
}
.contact .socialmedia{
  width: 100%;
  display: block;
}
.contact .socialmedia img{
  width: 80px;
}
.contact .socialmedia p{
  line-height: 90px;
}
.contact .socialmedia{
  width:100%;
}
.contact #twitter{
  width: 100%;
  display: inline-block;
}
.contact .socialmedia a{
  float: left;
}

.contact #facebook{
  display: inline-block;
  width: 100%;
}

/* dürdane */

.dashboard {
  margin:0;
  padding:0;
  box-sizing:border-box;
  width: 100vw;
  height: 100vh;
  background-color:#F7A37E;
}
.dashboard header{
  background-color: #839794;
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: space-between;
}
.dashboard header img{
  height: 100%;
  width: auto;
}
.dashboard .quitbutton a{
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.dashboard .quitbutton p{
  width: 100%;
  height: 100%;
  margin:0px;
  padding:0px;
}
.dashboard .quitbutton{
  background-color: white;
  width:80px;
  height: 40px;
  border-radius: 100px;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  margin-right: 20px;
}
.dashboard .block {
margin-top:130px;
margin-left:125px;
width: 300px;
height: 300px;
background-color:#fff;
border-radius: 20px;
}
.dashboard .block2 {
margin-top:130px;
margin-left:100px;
width: 300px;
height: 300px;
background-color:#fff;
border-radius: 20px;
}
.dashboard .block3 {
  margin-top:130px;
  margin-left:100px;
width: 300px;
height: 300px;
background-color:#fff;
border-radius: 20px;
}
.dashboard .header {
  margin-top:30px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  text-align: center;
  width:100%;
   background-color: #fff;
}

.dashboard .image {
margin-top:0px;
width:50%;
background-color: #fff;
margin-left:45px;
}


.dashboard .image2 {
margin-top:0px;
width:50%;
background-color: #fff;
margin-left:45px;
}

.dashboard .header2{
  margin-top:30px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  text-align: center;
   width:100%;
  float:left;
  background-color: #fff;
}
.dashboard .image3{
  margin-top:0px;
width:50%;
background-color: #fff;
margin-left:45px;
}
.dashboard .ana div{
float:left;
}
.dashboard .header3{
  margin-top:30px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  text-align: center;
  width:100%;
   float:left;
   background-color: #fff;
 
}
.dashboard .ana a.block.header{
  background-color: white;
}
.dashboard .ana img{
  background-color: white;
}

.dashboard .quit{   
  background-color: white;
  text-decoration: none;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top:5px;
  margin-left: 380px;
  width:50px;
  height: 20px;
  border-radius: 20px;
}

/*No access*/
.no-access{
  margin: auto;
  text-align: center;
  font-size: 36px;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
}
.access{
  margin: 10px;
}

.rightbar{
  text-align: center;
  margin-top: 10px;
  margin-right: 50px;
}